<h1>
<br>
Контакты
<br>
<hr>
</h1>

<% @contacts.each do |contact| %>
  <%= contact.mail %><br>
  <%= contact.content %><br>
  <hr>
<% end %>

<br>
<form action="/contacts" method='post'>

	<div class="mb-3">
    <label>Email</label>
    <input id="aaa" name="contact[mail]" type="mail" class="form-control" placeholder="Введите свой mail">
  </div>
  
  <div class="mb-3">
  	<label>Текст сообщения</label> <br>
  	<textarea name="contact[content]" rows="10" cols="45" class="ccc">
  	</textarea>
  </div>

  <button type="submit" class="btn btn-primary ccc">Отправить</button>


</form>  

<script type="text/javascript">
	
</script>