<!--
<div class="grid text-center" style="--bs-rows: 3">
  
  <div class="g-start-2" style="grid-row: 2"> 
    <img src="images/americana_sm.jpg">
    <img src="images/becon_sm.jpg">
  </div>
    
  <div class="g-start-2" style="grid-row: 2"> 
    
  </div>
  
  
  <div class="g-start-2" style="grid-row: 2"> 
    <img src="images/gavaiskaya.jpg">
    <img src="images/seven_sessions_sm.jpg">
  </div>

  <div class="g-start-2" style="grid-row: 2"> 
    
  </div>
  
</div>
-->

<div class="grid text-center">

<!--
  <div class="g-col-6 g-col-md-4">    
    <img src="images/americana_sm.jpg">
    asdf
  </div>

  <div class="g-col-6 g-col-md-4">    
    <img src="images/becon_sm.jpg">
    asdf
  </div>

  <div class="g-col-6 g-col-md-4">    
    <img src="images/gavaiskaya_sm.jpg">
    asdf
    
  </div>

  <div class="g-col-6 g-col-md-4">    
    <img src="images/seven_sessions_sm.jpg">
    asdf
  </div>
-->

  <div class="row row-cols-2">
    <div class="col">    
      <img src="images/americana.jpg">
      <div class="col">  
        asdf<br>
        asdf<br>
        asdf<br>
        asdf<br>
        asdf<br>
      </div>
    </div>

    <div class="col">    
      <img src="images/becon.jpg">
      <div class="col">  
        asdf
      </div>
    </div>
  </div>
  
  <div class="row">

    <div class="col">
      <img src="images/gavaiskaya.jpg">
      <p>
        asdfasdfadfad
      </p>
    </div>
  
    <div class="col">    
      <img src="images/seven_sessions.jpg">  
      <p>
        asdf
      </p>
    </div>

  </div>
  
  <div class="row row-cols-2">
    <div class="col">    
      <img src="images/gavaiskaya.jpg">
      <p>
        asdf
      </p>
    </div>

    <div class="col">    
      <img src="images/seven_sessions.jpg">
      <p>
        asdf
      </p>
    </div>

  </div>
</div>