
<div class="grid text-center">

  <div class="row row-cols-2">
    <div class="col">    
      <img src="images/americana.jpg">
      <div class="col">  
        asdf<br>
        asdf<br>
        asdf<br>
        asdf<br>
        asdf<br>
      </div>
    </div>

    <div class="col">    
      <img src="images/becon.jpg">
      <div class="col">  
        asdf
      </div>
    </div>
  </div>
  
  <div class="row">

    <div class="col">
      <img src="images/gavaiskaya.jpg">
      <p>
        asdfasdfadfad
      </p>
    </div>
  
    <div class="col">    
      <img src="images/seven_sessions.jpg">  
      <p>
        asdf
      </p>
    </div>

  </div>
  
  <div class="row row-cols-2">
    <div class="col">    
      <img src="images/gavaiskaya.jpg">
      <p>
        asdf
      </p>
    </div>

    <div class="col">    
      <img src="images/seven_sessions.jpg">
      <p>
        asdf
      </p>
    </div>

  </div>
</div>