<h2>Add new Post</h2>

	<form action="/new" method="post">
  <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"></label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="type post text here..." name="content"></textarea>
	</div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


