<h2>Записаться</h2>

<form action="/visit" method="post" role="form">
  <div>
	  <select name="hairdresser" class="form-select" aria-label="Default select example">
	  <option selected>Выбрать парикмахера</option>
	  <option value="Walter White">Walter White</option>
	  <option value="Jessie Pinkman">Jessie Pinkman</option>
	  <option value="Gus Fring">Gus Fring</option>
		</select>
	</div>
	<br>
  
  <div class="mb-3">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ввести имя">
  </div>
  <div class="mb-3">
    <label>Ваш телефон</label>
    <input name="telephone" type="text" class="form-control" placeholder="Ввести телефон">
  </div>
	<div class="mb-3">
    <label>Дата и время</label>
    <input name="datetime" type="text" class="form-control" placeholder="Ввести дату и время">
  </div>

  <select id="color">
    <option value="#7bd148">Green</option>
    <option value="#5484ed">Blue</option>
  </select>
  <br>
  
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>

<script type="text/javascript">
  $(function(){
    $('#color').simplecolorpicker();
  });
  
</script>